<section class="footer">
    <div class="we-row">
        <!-- Dirección -->
        <div class="address">
            <h3>Linkme</h3>
            <hr>
            <h4>{{ "UBICATION" | translate}} 1:</h4>
            <p>cambiar por la dirección</p>
            <h4>{{ "UBICATION" | translate}} 2:</h4>
            <p>cambiar por la dirección</p>
        </div>

        <!-- OTRO CONTENIDO -->
        <div class="contenido" >
            <h3 data-aos="fade-up"
            data-aos-duration="2000">LM</h3>
            <hr>
            <a data-aos="fade-up"
            data-aos-duration="2000">{{ 'NAV1' | translate}}</a>
            <a data-aos="fade-up"
            data-aos-duration="2200">{{ 'NAV2' | translate}}</a>
            <a data-aos="fade-up"
            data-aos-duration="2400">{{ 'NAV3' | translate}}</a>
            <a data-aos="fade-up"
            data-aos-duration="2600">{{ 'NAV4' | translate}}</a>
            <a data-aos="fade-up"
            data-aos-duration="2800">{{ 'NAV5' | translate}}</a>
        </div>

        <!-- redes sociales -->
        <div class="socials">
            <h3 data-aos="fade-up"
            data-aos-duration="2000">{{ "SOCIALS" | translate}}</h3>
            <hr>
            <div class="social-icons" >
                <div class="social-item" data-aos="fade-up"
                data-aos-duration="2200">
                    <a href="https://www.facebook.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/></a>
                </div>
                <div class="social-item" data-aos="fade-up"
                data-aos-duration="2400">
                    <a href="https://www.instagram.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/instagram.png"/></a>
                </div>
                <div class="social-item" data-aos="fade-up"
                data-aos-duration="2600">
                    <a href="https://twitter.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/twitter.png"/></a>
                </div>
                <div class="social-item" data-aos="fade-up"
                data-aos-duration="2800">
                    <a href="https://github.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/github.png"/></a>
                </div>
            </div>
        </div>
    </div>
    <p>Copyright © 2022. All right reserved</p>
</section>