.footer{
    text-align: center;
    color: var(--color-letra);
    background: var(--color-general);
}
.footer p{
    text-align: center;
}
.footer .we-row{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 8rem;
}

/* Dirección */
.footer .we-row h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;

}

.footer .we-row .address h4,p{
    text-align: left;
    margin-bottom: 1rem;
}

/* contenido */

.footer .we-row .contenido  a{
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--color-letra);
    transition:  0.4s ease;
}

.footer .we-row .contenido  a:hover{
    color: var(--color-letra2) ;
    cursor: pointer;
}
 
/* redes sociales */
.footer .we-row .socials .social-icons{
    display: flex;
}


.footer .we-row .socials .social-icons .social-item img{
    height: 70px;
    width: 70px;
}

