<section class="footer">
    <div class="we-row">
        <!-- Dirección -->
        <div class="address">
            <h3>Linkme</h3>
            <hr>
            <h4>{{ "UBICATION" | translate}} 1:</h4>
            <p>cambiar por la dirección</p>
            <h4>{{ "UBICATION" | translate}} 2:</h4>
            <p>cambiar por la dirección</p>
        </div>

        <!-- OTRO CONTENIDO -->
        <div class="contenido">
            <h3>LM</h3>
            <hr>
            <a>{{ 'NAV1' | translate}}</a>
            <a>{{ 'NAV2' | translate}}</a>
            <a>{{ 'NAV3' | translate}}</a>
            <a>{{ 'NAV4' | translate}}</a>
            <a>{{ 'NAV5' | translate}}</a>
        </div>

        <!-- redes sociales -->
        <div class="socials">
            <h3>{{ "SOCIALS" | translate}}</h3>
            <hr>
            <div class="social-icons">
                <div class="social-item">
                    <a href="https://www.facebook.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/instagram.png"/></a>
                </div>
                <div class="social-item">
                    <a href="https://twitter.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/twitter.png"/></a>
                </div>
                <div class="social-item">
                    <a href="https://github.com/" target="blank"><img src="https://img.icons8.com/bubbles/50/000000/github.png"/></a>
                </div>
            </div>
        </div>
    </div>
    <p>Copyright © 2022. All right reserved</p>
</section>