<section class="about">
  <div class="content">
    <!--  CABEZERA DE CONTENIDO -->
    <div class="header-content">
      <h3 class="section-title">ABOUT US</h3>
      <h4>Ayudamos a varias empresas automatizar su trabajo</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo
        laborum consequuntur sit rerum distinctio accusantium animi ipsum non,
        excepturi aperiam aspernatur ducimus illum quidem possimus ab atque
        officiis cum.
      </p>
    </div>
    <!-- NUESTRO EQUIPO -->
    <div class="our-team">
      <h3>OUR TEAM</h3>
      <div class="items-team">
        <div class="row">
          <div class="item">
            <div>
              <img
                src="https://img.icons8.com/dotty/80/000000/group-background-selected.png"
              />
            </div>
            <div>
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
          <div class="item">
            <div>
              <img
                src="https://img.icons8.com/dotty/80/000000/group-background-selected.png"
              />
            </div>
            <div>
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
          <div class="item">
            <div>
              <img
                src="https://img.icons8.com/dotty/80/000000/group-background-selected.png"
              />
            </div>
            <div>
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
