<section class="about">
    <!--  CABEZERA DE CONTENIDO -->
    <div class="top-content">
      <div class="inf-content">
        <div class="description">
          <h4>Ayudamos a varias empresas automatizar su trabajo</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo
            laborum consequuntur sit rerum distinctio accusantium animi ipsum non,
            excepturi aperiam aspernatur ducimus illum quidem possimus ab atque
            officiis cum.
          </p>
        </div>
      </div>
    </div>
    <!-- NUESTRO EQUIPO -->
    <div class="our-team">
      <h3>OUR TEAM</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="items-team">
        <div class="we-row">
          <div class="item">
            <div>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Azr3yaHQLicVJ8sFNliszbJVE7fseYKn-w&usqp=CAU"
              />
            </div>
            <div>
              <h4 class="name" >Javier Pastaz</h4>
              <p class="ocupation" >Estudiante</p>
            </div>
          </div>
          <div class="item">
            <div>
              <img
                src="https://www.wallpapertip.com/wmimgs/25-250726_262196-title-photography-people-wallpaper-hipster-men.jpg"
              />
            </div>
            <div>
              <h4 class="name" >Javier Pastaz</h4>
              <p class="ocupation" >Estudiante</p>
            </div>
          </div>
          <div class="item">
            <div>
              <img
                src="https://i.pinimg.com/originals/cb/db/d7/cbdbd730f996822a050246e29dd35fab.jpg"
              />
            </div>
            <div>
              <h4 class="name" >Javier Pastaz</h4>
              <p class="ocupation" >Estudiante</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
