<section class="about">
  <!--  CABEZERA DE CONTENIDO -->
  <div class="top-content">
    <div class="inf-content">
      <div class="description">
        <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1800">{{ "TITLE_ABOUT" | translate}}</h3>
        <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo
          laborum consequuntur sit rerum distinctio accusantium animi ipsum non,
          excepturi aperiam aspernatur ducimus illum quidem possimus ab atque
          officiis cum.
        </p>
      </div>
      <br />
      <br />
      <div class="flecha" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2200"></div>
    </div>
  </div>
</section>

<div id="container-white">
  <section>
    <!-- Preguntas -->
    <div class="content-2">
      <div class="row">
        <div class="shared-content" data-aos="fade-up" data-aos-duration="2000">
          <h3>{{"QUESTION1" | translate}}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam
            non ipsa. Aperiam similique deserunt, itaque esse odio ea error aliquam
            voluptatibus, non ab quas reiciendis at repudiandae modi quis.
          </p>
        </div>
        <div class="shared-content" data-aos="fade-up" data-aos-duration="2000">
          <h3>{{"QUESTION2" | translate}}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam
            non ipsa. Aperiam similique deserunt, itaque esse odio ea error aliquam
            voluptatibus, non ab quas reiciendis at repudiandae modi quis.
          </p>
          <ul>
            <li data-aos="fade-up" data-aos-duration="2200">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li data-aos="fade-up" data-aos-duration="2400">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li data-aos="fade-up" data-aos-duration="2600">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li data-aos="fade-up" data-aos-duration="2800">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Nuestro equio -->
    <div class="our-team">
      <h3>{{"OUR_TEAM" | translate}}</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, debitis dolore quo ducimus, mollitia obcaecati
        magnam</p>
      <div class="items-team">
        <div class="we-row">
          <div class="item" data-aos="fade-up" data-aos-duration="2000">
            <div>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Azr3yaHQLicVJ8sFNliszbJVE7fseYKn-w&usqp=CAU" />
            </div>
            <div id="data-person">
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="2000">
            <div>
              <img
                src="https://www.wallpapertip.com/wmimgs/25-250726_262196-title-photography-people-wallpaper-hipster-men.jpg" />
            </div>
            <div id="data-person">
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="2000">
            <div>
              <img src="https://i.pinimg.com/originals/cb/db/d7/cbdbd730f996822a050246e29dd35fab.jpg" />
            </div>
            <div id="data-person">
              <h4>Javier Pastaz</h4>
              <p>Estudiante</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
</div>