.top-manage{
  padding: 1rem;
  background: white;
  box-shadow: 0px 1px 6px 3px rgb(202, 202, 202);
}

.top-manage > h1{
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 70px ;
}

/* formulario  */

.form {
  color: var(--color-general);
  text-align: center;
}

.form h3{
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  box-shadow: 0px 0px 0px 2px rgb(202, 202, 202);
  margin-bottom: 0;
  color: var(--color-general);
}

.form .col form {
  padding: 2rem;
  box-shadow: 0px 0px 0px 2px rgb(202, 202, 202);
}

.form .col form input[type="text"],
input[type="file"] {
  border-radius: 0.5rem;
  border: 1px solid rgb(202, 202, 202);
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  color: black;
}

.form .col form input[type="text"]:hover,
input[type="file"]:hover,
.form .col form textarea:hover{
  border: 1px solid var(--color-general);
}

.form .col form textarea {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgb(202, 202, 202);
  resize: none;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-add {
  position: relative;
  background: green;
  margin-top: 1rem;
  padding: 1rem;
  width: 25%;
  border-radius: 0.5rem;
  color: white;
}

.btn-add:hover {
  background: rgb(0, 170, 0);
}

/*  proyecto  */

.project-content h3{
  font-weight: 400;
  padding: 1rem 0 1rem;
  padding-left: 2rem;
  background: var(--color-general);
  color: white;
}

.project-content .projects {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* apariencia del scroll */
.project-content .projects::-webkit-scrollbar {
  -webkit-appearance: none;
  border: 1px solid var(--color-general);
}
.project-content .projects::-webkit-scrollbar-thumb {
  background-color: var(--color-general);
}
/* fin apariencia del scroll */

.project-content .row {
  margin: 1rem;
}

.project-content .row .col .project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 280px;
}

.project-content .row .col .project:hover{
  cursor: pointer;
  border: 1px solid var(--color-general);
}


.project-content .row .col .project .image {
  width: 100%;
  height: auto;
}

.project-content .row .col .project p{
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: 1rem;
}


