<div class="top-manage">
  <h1>Projectos</h1>
</div>
<!-- contenido -->
<div class="manage-content">
  <!-- formulario -->
  <div class="form">
      <h3>Formulario Projectos</h3>
    <div class="col">
        <form [formGroup]="workForm"  (submit)="uploadWork(titulo, descripcion)">
          <div>
            <input type="text" placeholder="Titulo del proyecto" formControlName="title"  #titulo />
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                 class="alert">
                <p>El campo debe estar lleno</p>
              </div>
          </div>
          <div>
            <textarea type="text" rows="5" placeholder="Descripción" formControlName="description"  #descripcion></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
            class="alert">
           <p>Esto es necesario</p>
         </div>
          </div>
          <div>
            <input type="file" id="file " (change)="fotoSeleccionada($event)" #photoInput />
            <div id="preview" >

            </div>
          </div>
          <button class="btn-add" [disabled]="workForm.invalid">Agregar</button>
        </form>
    </div>

  </div>

  <!-- proyecto -->
  <div class="project-content">
    <h3>Proyectos Agregados</h3>
    <hr />
    <div class="projects">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6">
        <div class="col" *ngFor="let workPhoto of myPhotosWorks">
          <div class="project">
            <div class="title">
              <p>{{ workPhoto.titulo }}</p>
            </div>
            <img class="image" (click)="selectedCard(workPhoto._id)" data-bs-toggle="modal"
              [src]="'http://localhost:3000/' + workPhoto.image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
