<div class="clients">
  <div class="top-client">
    <h3 class="title" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1800">{{"TITLE_CLIENT" | translate}}</h3>
    <h4 class="subtitle" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="2000">{{"SUBTITLE_CLIENT" | translate}}</h4>
  </div>
  <div id="controls" class="carousel slide client" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- Grupo de cliente N1 -->
        <div class="items-team">
          <div class="we-row">
            <!-- Cliente 1 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client1.png" />
            </div>
            <!-- Cliente 2 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client2.png" />
            </div>
            <!-- Cliente 3 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client3.png" />

            </div>
            <!-- Cliente 4 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <div>
                <img src="../../../../../assets/img-clients/client4.jpg" />
              </div>
            </div>
            <!-- Cliente 1 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client1.png" />
            </div>
            <!-- Cliente 2 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client2.png" />
            </div>
            <!-- Cliente 3 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client3.png" />

            </div>
            <!-- Cliente 4 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <div>
                <img src="../../../../../assets/img-clients/client4.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <!-- Grupo de cliente N2 -->
        <div class="items-team">
          <div class="we-row">
            <!-- Cliente 5 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client5.png" />

            </div>
            <!-- Cliente 6 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client6.png" />

            </div>
            <!-- Cliente 7 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client7.png" />

            </div>
            <!-- Cliente 8 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client8.jpg" />

            </div>
            <!-- Cliente 1 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client1.png" />
            </div>
            <!-- Cliente 2 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <img src="../../../../../assets/img-clients/client2.png" />
            </div>
            <!-- Cliente 3 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">

              <img src="../../../../../assets/img-clients/client3.png" />

            </div>
            <!-- Cliente 4 -->
            <div class="item" data-aos="zoom-in" data-aos-duration="2000">
              <div>
                <img src="../../../../../assets/img-clients/client4.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#controls" data-bs-slide="prev">
      A
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#controls" data-bs-slide="next">
      S
    </button>
  </div>
</div>