.clients {
  margin: 10rem 0;
}

.top-client{
  text-align: center;
}

.top-client h3{
  font-size: 3rem;
  font-weight: 500;
}

.top-client h4{
  font-size: 2rem;
  font-weight: 400;
}

/* Carrousel clientes */
.carousel-item{
  padding: 3rem 10%;
}

.carousel-inner .carousel-item .we-row {
  display: flex;
  flex-wrap: wrap;
}

.carousel-inner .carousel-item .we-row .item {
  background: white;
  padding: 0.7rem;
  margin: 0 auto;
  border: 1px solid rgb(4, 44, 104);
}

.carousel-inner .carousel-item .we-row .item img {
  background: white;
  width: 398px;
  height: 300px;
}

/* botones next y prev */

.carousel-control-prev{
  position: absolute;
  top: 300px;
  border: 2px solid white;
  border-radius: 0% 50% 50% 0%;
  padding: 2.5rem;
  padding-left: 2rem;
  width: 50px;
  height: 50px;
  background: black;
}

.carousel-control-next{
  position: absolute;
  top: 300px;
  border: 2px solid white;
  border-radius: 50% 0% 0% 50% ;
  padding: 2.5rem;
  width: 50px;
  height: 50px;
  background: black;
}
