.contact{
    margin-top: 6rem;
}

/* filas  */

.contact .row{
    margin: 8rem 0; 
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 3rem;
}

/* mapa */

.contact .row .map{
    width: 50%;
    height: 600px;
}

/* formulario */

.contact .row .form{
    padding: 1rem;
    flex: 1 1 10rem;
}

/* Datos */
.contact .row .form .identity{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.contact .row .form .icons-container{
    display: flex;
    flex-wrap: wrap ;
    padding: 1rem 0;
    gap: 1rem;
}

.contact .row .form .icons-container .icons{
    display: flex;
    flex: 1 1 50rem;

}

.contact .row .form .icons-container .icons i{
    text-align: center;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-right: 1rem;
    background: var(--color-navbar) ;
}

.contact .row .form .icons-container .icons h3{
    font-weight: 400;
    padding: 1rem 0;
}

/* meadia query */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .contact .row{
        margin: 3rem 0;
        padding: 0rem;
        box-shadow: none;
        border-radius: 0rem;
    }


    .contact .row .map{
        border-radius: 0rem;
        width: 100%;
    }

    .contact .row .form {
        margin-top: 1rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }


    .contact .row .form .icons-container .icons{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

}