<section class="contact" id="contact">
  <!--  CABEZERA DE CONTENIDO -->
  <div class="header-content">
    <h3 class="section-title">Contact uS</h3>
  </div>
  <!-- filas -->
  <div class="row">
    <!-- mapa -->
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.22215014236!2d-78.46866067002226!3d-0.14503549830688037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58fe221567bb7%3A0x458ef31da3aadf15!2sJos%C3%A9%20Felix%20Barrerio%2C%20Quito!5e0!3m2!1ses!2sec!4v1642607003816!5m2!1ses!2sec"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <!-- formulario -->
    <div class="form">
      <!-- Datos -->
      <h3 class="identity">Linkme</h3>
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-map"></i>
          <div class="inf">
            <h3>Address :</h3>
            <p>xxxxxxxx</p>
          </div>
        </div>
        <div class="icons">
          <i class="fas fa-envelope"></i>
          <div class="inf">
            <h3>Email :</h3>
            <p>jam.pastazÄyavirac.edu.ec</p>
          </div>
        </div>
        <div class="icons">
          <i class="fas fa-map"></i>
          <div class="inf">
            <h3>Phone :</h3>
            <p>+593 981476892</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
