<section class="work-details">
    <div class="row g-5">
        <div class="col-md-6 ">
            <h1 class="text-center">{{ work.titulo }}</h1>
            <p class="border">{{ work.descripcion }}</p>
        </div>

        <div class="col-md-6" data-aos="zoom-out"  data-aos-duration="2400">
            <img [src]="'http://localhost:3000/' + work.image" alt="" />
        </div>
    </div>

    <hr />

    <div class="row g-5">
        <div class="col-md-12">
            <h3 class="text-center">Empieza un proyecto</h3>
            <p class="border">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia exercitationem optio temporibus. Laborum, necessitatibus vero harum enim maiores maxime dolor eum explicabo, rerum at dolores impedit. Deleniti vero explicabo soluta?.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quos ipsa omnis asperiores atque dolorum tempora dolores quis accusamus consequatur sed, voluptate magni totam consectetur amet. Modi eius tempora iusto?
            </p>
        </div>
    </div>
</section>