<section class="story">
  <!-- CONTENIDO SUPEIOR -->
  <div class="top-content">
    <div class="inf-content">
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo
          laborum consequuntur sit rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto magni
          excepturi accusantium, ipsum libero sit omnis eligendi officia optio esse porro itaque quasi eos, eum animi.
          Ab aspernatur labore distinctio!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos
          ut necessitatibus. ipsum libero sit omnis eligendi officia optio esse porro itaque quasi eos, eum animi.
          Ab aspernatur labore distinctio!
        </p>
      </div>
    </div>
  </div>
</section>
<div id="container-white">
  <section>
      <div class="content-3">
        <div class="row">
          <div class="shared-content" data-aos="fade-up" data-aos-duration="2000">
            <h3>{{"QUESTION1" | translate}}</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam
              non ipsa. Aperiam similique deserunt, itaque esse odio ea error aliquam
              voluptatibus, non ab quas reiciendis at repudiandae modi quis.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur sunt odit, possimus ex quibusdam sint
              aspernatur ipsa laborum eligendi exercitationem vero? Amet at accusamus hic labore vel magnam. Quos!
            </p>
          </div>
          <div class="shared-content" data-aos="fade-up" data-aos-duration="2000">
            <h3>{{"QUESTION2" | translate}}</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam
              non ipsa. Aperiam similique deserunt, itaque esse odio ea error aliquam
              voluptatibus, non ab quas reiciendis at repudiandae modi quis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cupiditate animi enim amet earum? Obcaecati
              corrupti aliquam at. Nihil dolore distinctio commodi beatae, at officia esse laborum nulla natus sequi.
            </p>
          </div>
        </div>
      </div>
  </section>
</div>