<section class="work">
  <div class="header-content">
    <h3 class="section-title">Our works</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo laborum
      consequuntur sit rerum distinctio accusantium animi ipsum non, excepturi
      aperiam aspernatur ducimus illum quidem possimus ab atque officiis cum.
    </p>
  </div>
  <div class="works-content">
    <div class="card_item">
      <div class="card_inner">
        <img
          src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
        />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>
    <div class="card_item">
      <div class="card_inner">
        <img
          src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
        />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img
          src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
        />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
          <img
            src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
          />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>
    <div class="card_item">
      <div class="card_inner">
          <img
            src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
          />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>
    <div class="card_item">
      <div class="card_inner">
          <img
            src="https://www.xtrafondos.com/descargar.php?id=3183&resolucion=2560x1440"
          />
        <!-- NOMBRE PROYECTO -->
        <div class="content">ProYecto</div>
      </div>
    </div>
  </div>
</section>


