.work {
  text-align: justify;
}

.work .top-content h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background: rgb(230, 230, 230, 0.4);
  padding: 1rem 0;
  border-radius: 2rem;
}

.work .top-content p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}


.flecha{
  margin: 0 auto;
  background: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  clip-path: polygon(75% 0, 75% 37%, 100% 40%, 50% 100%, 0 40%, 25% 40%, 25% 0);
}

/* ALBUM */
.album{
  padding: 1rem;
  border: 1px;
  border: dashed rgb(0, 0, 0);
}


.album .row .col .workimg{
  border: none;
  position: relative;
  overflow: hidden ;
  text-align: center;
}

.album .row .col .workimg img{
  width: 350px;
	height: 350px;
  margin-top: 1rem;
  transition: all 600ms;
}

.album .row .col .workimg .content{
  position: absolute;
  right: 50%;
  bottom: 70%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transform: translate(50%, 50%) scale(0);
  font-weight: 500;
  background: rgba(255, 0, 0, 0.5);
  padding: 1rem;
  clip-path: polygon(10% 0, 50% 10%, 90% 0, 100% 70%, 80% 100%, 50% 90%, 20% 100%, 0 70%);
}

.album .row .col .workimg:hover .content{
  transform: translate(50%, 50%) scale(1);
}

/* FIN DE ALBUM */


