/* ALBUM */
/* .album{
  padding: 1rem;
  border: 1px;
  border: dashed rgb(0, 0, 0);
}


.album .row .col .workimg{
  border: none;
  position: relative;
  overflow: hidden ;
  text-align: center;
}

.album .row .col .workimg img{
  width: 350px;
	height: 350px;
  margin-top: 1rem;
  transition: all 600ms;
}

.album .row .col .workimg img:hover{
  padding: 1rem;
  cursor: pointer;
}

.album .row .col .workimg .content{
  position: absolute;
  right: 50%;
  bottom: 70%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transform: translate(50%, 50%) scale(0);
  font-weight: 500;
  background: rgba(255, 0, 0, 0.5);
  padding: 1rem;
  clip-path: polygon(10% 0, 50% 10%, 90% 0, 100% 70%, 80% 100%, 50% 90%, 20% 100%, 0 70%);
}

.album .row .col .workimg:hover .content{
  transform: translate(50%, 50%) scale(1);
} */

/* FIN DE ALBUM */
.work-example{
  border: 1px solid rgb(238, 238, 238);
}

.work-example h3{
  font-size: 2rem;
  font-weight: 500;
}

.work-example p{
  font-size: 1.2rem;
  font-weight: 400;
}

.work-example:hover{
  box-shadow: -1px 6px 10px 9px rgb(230, 230, 230);
  cursor: pointer;
}


