<section id="register">
  <!--  card contenedora -->
  <div class="register-container">
      <!--  titulo del formulario-->
      <div>
        <h2>Registrar Usuario</h2>
      </div>
      <!--  formulario reactivo-->
      <div >
        <form [formGroup]="registerForm" (submit)="register()">
    
          <!--   input para el email del usuario   -->
          <div >
            <input  type="text" formControlName="email" placeholder="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert">
              <p>El campo debe estar lleno</p>
            </div>
          </div>
    
          <!--   input para la contraseña del usuario   -->
          <div >
            <input type="password" formControlName="password" placeholder="contraseña">
            <div *ngIf="password.invalid && (email.dirty || password.touched)"
               class="alert">
              <p>El campo debe estar lleno</p>
            </div>
          </div>
          <!-- boton para el envio de la data-->
          <input type="submit" class="btn we-btn-primary btn-form" [disabled]="registerForm.invalid" value="Registrar">
        </form>
        <br >
        <!--      boton para el redireccionamiento al dashboard-->
        <button type="submit" [routerLink]="['/manage']">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
               class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
          Regresar
        </button>
      </div>
    
    </div>
</section>