<!-- navbar -->
<header class="header">
  <nav class="navbar">
    <div>
      <a href="/app/home" class="logo">LINKME</a>
    </div>
    <!-- LISTA DE NAVEGACION -->
    <div class="nav-list">
      <div class="hamburguer" (click)="menu()">
        <img
          id="bar"
          src="https://img.icons8.com/plumpy/24/000000/menu-rounded.png"
        />
      </div>
      <ul class="lista">
        <li>
          <a routerLink="/app/work" routerLinkActive="active" data-after="Works"
          (click)="removeMemu()">Works</a
          >
        </li>
        <li>
          <a
            routerLink="/app/about"
            routerLinkActive="active"
            data-after="About"
            (click)="removeMemu()">About</a
          >
        </li>
        <li>
          <a
            routerLink="/app/our_story"
            routerLinkActive="active"
            data-after="Story"
            (click)="removeMemu()">Our Story</a
          >
        </li>
        <li>
          <a
            routerLink="/app/client"
            routerLinkActive="active"
            data-after="Clients"
            (click)="removeMemu()">Clients</a
          >
        </li>
        <li>
          <a
            routerLink="/app/contact"
            routerLinkActive="active"
            data-after="Contac"
            (click)="removeMemu()">Contac</a
          >
        </li>
        <li>
          <select class="languaje">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</header>
