<!-- navbar -->
<header class="header">
  <nav class="navbar">
    <div class="logo">
      <a href="/app/home">LINKME</a>
      <div class="superUser" routerLink="/login"></div>
    </div>
    <!-- LISTA DE NAVEGACION -->
    <div class="nav-list">
      <div class="hamburguer" (click)="menu()">
        <img
          id="bar"
          src="https://img.icons8.com/plumpy/24/000000/menu-rounded.png"
        />
      </div>
      <ul class="lista">
        <li>
          <a routerLink="/app/work" routerLinkActive="active" data-after="Works"
          (click)="removeMemu()">{{ 'NAV1' | translate}}</a
          >
        </li>
        <li>
          <a
            routerLink="/app/about"
            routerLinkActive="active"
            data-after="About"
            (click)="removeMemu()">{{ 'NAV2' | translate}}</a
          >
        </li>
        <li>
          <a
            routerLink="/app/our_story"
            routerLinkActive="active"
            data-after="Story"
            (click)="removeMemu()">{{ 'NAV3' | translate}}</a
          >
        </li>
        <li>
          <a
            routerLink="/app/client"
            routerLinkActive="active"
            data-after="Clients"
            (click)="removeMemu()">{{ 'NAV4' | translate}}</a
          >
        </li>
        <li>
          <a
            routerLink="/app/contact"
            routerLinkActive="active"
            data-after="Contac"
            (click)="removeMemu()">{{ 'NAV5' | translate}}</a
          >
        </li>
        <li>
          <select #langSelect (change)="changeLang(langSelect.value)" class="languaje">
            <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</header>
