<!-- CONTENIDO SUPEIOR -->
<div class="top-manage">
  <h1>Detalle del proyecto</h1>
</div>
<div class="work-content-detail">
  <!-- imagen  -->
  <div class="img-work">
    <img [src]="'http://localhost:3000/' + work.image" />
  </div>
  <!-- formulario para editar la información -->
  <div class="form">
    <form (submit)="updatePhoto(titulo, descripcion)">
      <label>Titutlo:</label>
      <input type="text" [value]="work.titulo" #titulo />
      <label>Descripción:</label>
      <textarea type="text" [value]="work.descripcion" rows="6" #descripcion></textarea>
      <div>
        <button class="btn-update">Actualizar</button>
      </div>
    </form>
    <button class="btn-delete" (click)="openModal('deleted-work-modal')">
      Eliminar
    </button>
  </div>
</div>

<!-- Modarl confirmación (ELIMINAR) -->

<div id="deleted-work-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <form>
      <h2>¿Estas seguro de eliminar este Proyecto?</h2>
      <div>
        <input type="submit" value="Eliminar" (click)="deletePhoto(id)" />
        <input type="reset" value="Cancelar" (click)="closeModal()" />
      </div>
    </form>
  </div>
</div>